.navbar {
  border: solid black 1px;
  background-color: rgba(100, 0, 0, 0.974);
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__title {
    font-size: 25px;
    color: white;
  };
}